<!DOCTYPE html>

<html>
    <head>
        <title>404 Error</title>
        <link rel="icon" href="/img/2125762.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        {{!-- {{>footer}} --}}
    </body>
</html>